<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.yukibot</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/python3</string>
        <string>/Users/user/Desktop/YUKIbot/yuki_bot.py</string>
        <string>--once</string>
    </array>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>StartInterval</key>
    <integer>3600</integer>
    
    <key>StandardOutPath</key>
    <string>/Users/user/Desktop/YUKIbot/yuki_bot.log</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/user/Desktop/YUKIbot/yuki_bot_error.log</string>
    
    <key>WorkingDirectory</key>
    <string>/Users/user/Desktop/YUKIbot</string>
    
    <key>KeepAlive</key>
    <false/>
</dict>
</plist>
